@{
    ViewData["Title"] = "Gestión Documental";
}

<h2>Gestión Documental</h2>

<a href="@Url.Action("GoogleDemo", "Documento")" class="btn btn-primary">Abrir Google Picker</a>
<br /><br />

<!-- Aquí puedes agregar más contenido relacionado con la gestión documental -->
